
ToDoApp/Backend/.vs/ToDoApp/FileContentIndex/f616148f-fa78-4b83-ad2c-71c26b6a4383.vsidx
ToDoApp/Backend/.vs/ToDoApp/FileContentIndex/d438909c-898f-4856-89c7-ec628c4711b6.vsidx
ToDoApp/Backend/.vs/ToDoApp/FileContentIndex/b85d4a38-f8f2-4369-9ca3-f142ade7bf1e.vsidx
ToDoApp/Backend/.vs/ToDoApp/FileContentIndex/95e6e28d-3851-429d-94a8-de49275c2043.vsidx
ToDoApp/Backend/.vs/ToDoApp/FileContentIndex/d438909c-898f-4856-89c7-ec628c4711b6.vsidx
.vsidx
*.vsidx
*.vsidx
*.v2
*.v2
*.2
*.2
*.dll
